<div class="tutorial">
	<h2>Create your first panel!</h2>
	<p>
		A panel allows you to display HTML content in a nice window on your website
	</p>
	<p>
		You can indicate an url or write the HTML directly
	</p>
	<p>
		Use the form below to get started!
	</p>
	<%=render :partial => 'panels/form'%>
</div>