<div class="tutorial">
	<h1>Welcome to Arbalet!</h1>

	<p>
		It looks like you do not have an application yet.
	</p>

	<p>
		Use the form below to create your first app!
	</p>
	
	<%= render :partial => 'apps/form' %>
</div>