<div class="tutorial">
	<h2>First time?</h2>
	<p>
		It looks like you haven't created a page yet!
	</p>
	<p>
		Pages will allow you to create which elements you want to see appearing in any page of your app.
	</p>
	<p>
		Use the form below to get started!
	</p>
	<%=render :partial => 'pages/form'%>
</div>