// Arbalet requires jQuery at the moment
// This would have to be fixed in the future


Arbalet = new function(){
	
	this.init = function(){
		this.account = <%=@app.id%>
		this.base_url = '<%=url_for :controller => 'home', :only_path => false %>';
		this._tips = new Array();
		this._panel = null;
		this._boxes = new Array();
		<% if @panel %>
		this._panel = new Panel('<%=url_for :controller => 'panels', :action => 'display', :id => @panel.id, :only_path => false %>');
		this.insertPanel();
		<% end %>
		this._boxes[0] = new Box(0, 'user_remember_me', 'http://localhost:3000/boxes/2/display');
		this._boxes[1] = new Box(1, 'user_password_confirmation', 'http://localhost:3000/boxes/2/display');

	}

	this.insertPanel = function(){
		console.log('inserting panel');
		console.log(this._panel.target_url);
		this._panel.insert(); 
		
	}

	this.insertBoxes = function(){
		for (var i = 0; i < this._boxes.length; i++){
			this._boxes[i].insert();
		}
		
	}

	this.showBoxes = function(){
		for (var i = 0; i < this._boxes.length; i++){
			this._boxes[i].show();
		}
		
	}

	this.hideBox = function(id){
		console.log('hiding box ' + id);
		this._boxes[id].hide();
	}

	this.showPanel = function(){
		this._panel.show();
	}
	this.hidePanel = function(){
		this._panel.hide();
	}


	// creates a panel
	function Panel(target_url){
		this.target_url = target_url;
		this.iframeTemplate = '<iframe id="arbalet-panel-iframe" style="display:block;   border: none; height: 100%; padding: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%;"" src="'+ target_url + '"></iframe>';
		this.maskTemplate = '<div id="arbalet-panel-mask" onclick="return Arbalet.hidePanel();" style="display:none; z-index:1000; height: 100%; width:100%; margin: 0px; position: fixed; top: 0px; left: 0px; background-color: #000; opacity:0.9"></div>';
		this.dialogTemplate = '<div id="arbalet-panel-dialog"  style="border-radius:10px; border:5px solid #ccc; display:none;z-index:10000; height: 500px; overflow:hidden; margin: 0px; position: fixed; top: 50%; left: 50%; width: 900px; margin-left:-450px; margin-top:-250px"></div>';
	}

	Panel.prototype.insert = function(){
		insertHtml(this.maskTemplate);
		insertHtml(this.dialogTemplate);
	}

	Panel.prototype.show = function(){
		var m = $('#arbalet-panel-mask');
		m.html(this.dialogTemplate);
		var d = $('#arbalet-panel-dialog');
		d.html(this.iframeTemplate);
		m.show();
		d.show();
	}
	
	Panel.prototype.hide = function(){
		var m = $('#arbalet-panel-mask');
		var d = $('#arbalet-panel-dialog');
		m.hide();
		d.hide();
	}

	function Box(id, target_id, target_url){
		this._id = id;
		this.target_id = target_id;
		this.target_url = target_url;
		this.iframeTemplate = '<iframe id="abox-frame-' + id + '" style="display:block; border: none; height: 100%; padding: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%;"" src="' + target_url + '"></iframe>';
		this.dialogTemplate = '<div id="abox-dialog-' + id + '"  style="box-shadow: 0 0 5px #000;z-index:300; background: #eee; border-radius: 5px; border: 1px solid #aaa; display:none; height: 50px; overflow:hidden; width: 200px; position:absolute;"><img src="<%=url_for :controller => 'home', :only_path => false %>images/cross-circle.png" alt="" onclick="Arbalet.hideBox('+ id +')" style="position:absolute;right:0px; top:0px; z-index: 200" /><div class="arba-content"></div></div>';

	}

	Box.prototype.insert = function(){
		console.log('inserting box ' + this._id);
		//target = $('#' + this.target_id);
		$(this.dialogTemplate).insertAfter('#' + this.target_id);
		var id = '#abox-dialog-' + this._id;
		b = $(id + ' .arba-content');
		console.log(this.iframeTemplate);
		b.html(this.iframeTemplate);
		this.place();
		
		//insertHtml(this.dialogTemplate);
	}

	// will place the box next to the target
	Box.prototype.place = function(){
		target = $('#'+ this.target_id);
		target_position = target.position();


		var id = '#abox-dialog-' + this._id;
		b = $(id);

		left = target_position.left - b.width() - 10; 
		b.css('top', target_position.top);
		b.css('left', left);
		console.log(target.offset());
		console.log(target.scrollTop())
		
	}

	Box.prototype.show = function(){
		console.log('showing box ' + this._id);
		var id = '#abox-dialog-' + this._id;
		b = $(id);
		//b.html(this.iframeTemplate);
		b.show();
	}

	Box.prototype.hide = function (){
		var id = '#abox-dialog-' + this._id;
		b = $(id);
		b.hide();
	}



}

 insertHtml = function(html) {
    var dummy = document.createElement('div');
    dummy.innerHTML = html;
    document.body.insertBefore(dummy.firstChild, document.body.firstChild);
    return document.body.firstChild;
  };

window.onload = function(){
	console.log('init');
	Arbalet.init();
	if (Arbalet._panel)
		Arbalet.showPanel();

	Arbalet.insertBoxes();
	Arbalet.showBoxes();
};

