// Arbalet requires jQuery at the moment
// This would have to be fixed in the future


Arbalet = new function(){
	var account = <%=@app.id%>
	var base_url = '<%=url_for :controller => 'home', :only_path => false %>';
	var _tips = new Array();
	var _panel = null;
	var _boxes = new Array();

	this.init = function(){
		_panel = new Panel('http://localhost:3000/panels/4/display');
		_boxes[0] = new Box(0, 'user_remember_me', 'http://localhost:3000/boxes/2/display');

	}

	this.insertPanel = function(){
		console.log('inserting panel');
		console.log(_panel.target_url);
		_panel.insert(); 
		
	}

	this.insertBoxes = function(){
		for (var i = 0; i < _boxes.length; i++){
			_boxes[i].insert();
		}
		
	}

	this.showBoxes = function(){
		for (var i = 0; i < _boxes.length; i++){
			_boxes[i].show();
		}
		
	}

	this.showPanel = function(){
		_panel.show();
	}
	this.hidePanel = function(){
		_panel.hide();
	}


	// creates a panel
	function Panel(target_url){
		this.target_url = target_url;
		this.iframeTemplate = '<iframe id="arbalet-panel-iframe" style="display:block;   border: none; height: 100%; padding: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%;"" src="'+ target_url + '"></iframe>';
		this.maskTemplate = '<div id="arbalet-panel-mask" onclick="return Arbalet.hidePanel();" style="display:none; z-index:1000; height: 100%; width:100%; margin: 0px; position: fixed; top: 0px; left: 0px; background-color: #000; opacity:0.9"></div>';
		this.dialogTemplate = '<div id="arbalet-panel-dialog"  style="border-radius:10px; border:5px solid #ccc; display:none;z-index:10000; height: 500px; overflow:hidden; margin: 0px; position: fixed; top: 50%; left: 50%; width: 900px; margin-left:-450px; margin-top:-250px"></div>';
	}

	Panel.prototype.insert = function(){
		insertHtml(this.maskTemplate);
		insertHtml(this.dialogTemplate);
	}

	Panel.prototype.show = function(){
		var m = $('#arbalet-panel-mask');
		m.html(this.dialogTemplate);
		var d = $('#arbalet-panel-dialog');
		d.html(this.iframeTemplate);
		m.show();
		d.show();
	}
	
	Panel.prototype.hide = function(){
		var m = $('#arbalet-panel-mask');
		var d = $('#arbalet-panel-dialog');
		m.hide();
		d.hide();
	}

	function Box(id, target_id, target_url){
		this._id = id;
		this.target_id = target_id;
		this.target_url = target_url;
		this.iframeTemplate = '<iframe id="abox-frame-' + id + '" style="display:block; border: none; height: 100%; padding: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%;"" src="' + target_url + '"></iframe>';
		this.dialogTemplate = '<div id="abox-dialog-' + id + '"  style="z-index:300; background: #eee; border-radius: 5px; border: 1px solid #333; display:none; height: 50px; overflow:hidden; width: 200px; position:absolute;">aaa</div>';

	}

	Box.prototype.insert = function(){
		console.log('inserting box ' + this._id);
		//target = $('#' + this.target_id);
		$(this.dialogTemplate).insertAfter('#' + this.target_id);
		var id = '#abox-dialog-' + this._id;
		b = $(id);
		b.html(this.iframeTemplate);
		this.place();
		
		//insertHtml(this.dialogTemplate);
	}

	// will place the box next to the target
	Box.prototype.place = function(){
		target = $('#'+ this.target_id);
		target_position = target.position();


		var id = '#abox-dialog-' + this._id;
		b = $(id);

		left = target_position.left - b.width() - 10; 
		b.css('top', target_position.top);
		b.css('left', left);
		console.log(target.offset());
		console.log(target.scrollTop())
		
	}

	Box.prototype.show = function(){
		console.log('showing box ' + this._id);
		var id = '#abox-dialog-' + this._id;
		b = $(id);
		//b.html(this.iframeTemplate);
		b.show();
	}

	Box.prototype.hide = function (){
		var id = '#abox-dialog-' + this._id;
		b = $(id);
		b.hide();
	}



}
/*
if (!Arbalet){
	var Arbalet = {};
	Arbalet.account = <%=@app.id%>;
	Arbalet.base_url = '<%=url_for :controller => 'home', :only_path => false %>';
	
}

Arbalet.init = function(){
	panel_url = 'http://localhost:3000/panels/4/display';
	//console.log(panel_url);
	Panel.init(panel_url);
	Panel.show();
	
	//Popup.init('question_label');
	
	
}

Arbalet.hidePanel = function(){
	Panel.hide();
}

Tips = {}

	Tips.iframeTemplate = '<iframe id="arbalet-tips-iframe" style="display:block;   border: none; height: 100%; padding: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%;"" src="' + Arbalet.base_url+ 'widgets/ ' + Arbalet.account + '/tips"></iframe>';
	Tips.dialogTemplate = '<div id="arbalet-tips-dialog"  style="z-index:300; visibility:hidden; height: 60px; overflow:hidden; margin: 0px; position: fixed; bottom: 10px; left: 10px; width: 700px;"></div>';

	Tips.init = function(){
		insertHtml(this.dialogTemplate);
	}


	Tips.show = function(){
		var d = $('#arbalet-tips-dialog');
		d.html(this.iframeTemplate);
		d.show();
	}
	
Popup = {}

	Popup.dialogTemplate = '<div id="arbalet-popup-dialog"  style="z-index:300; padding:5px; border-radius:5px; background-color: #fff; border:3px solid #ddd; color: #000; visibility:hidden; position: absolute;"></div>';

	Popup.text = 'This is a cute popup';
	
	Popup.init = function(element_id){
		element = document.getElementById(element_id);
		
		console.log(element.offset);
		this.clientLeft = element.offsetLeft;
		this.offsetTop = element.offsetTop;
		console.log(element.offsetTop);
		insertHtml(this.dialogTemplate);
	}


	Popup.show = function(){
		var d = document.getElementById('arbalet-popup-dialog');
		d.style.left = Popup.offsetLeft + 100 + 'px';
		d.style.top = Popup.offsetTop + '10';
		console.log(this.clientLeft);
		d.innerHTML = this.text;
		d.style.visibility = 'visible';
	}


Panel = {}

	Panel.iframeTemplate = '<iframe id="arbalet-panel-iframe" style="display:block;   border: none; height: 100%; padding: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%;"" src="__panelurl__"></iframe>';
	Panel.maskTemplate = '<div id="arbalet-panel-mask" onclick="return Arbalet.hidePanel();" style="display:none; z-index:1000; height: 100%; width:100%; margin: 0px; position: fixed; top: 0px; left: 0px; background-color: #000; opacity:0.9"></div>';
	Panel.dialogTemplate = '<div id="arbalet-panel-dialog"  style="border-radius:10px; border:5px solid #ccc; display:none;z-index:10000; height: 500px; overflow:hidden; margin: 0px; position: fixed; top: 50%; left: 50%; width: 900px; margin-left:-450px; margin-top:-250px"></div>';

	Panel.init = function(url){
		Panel.iframeTemplate = Panel.iframeTemplate.replace('__panelurl__', url);
		insertHtml(this.maskTemplate);
		insertHtml(this.dialogTemplate);
	}


	Panel.show = function(){
		var m = $('#arbalet-panel-mask');
		m.html(this.dialogTemplate);
		var d = $('#arbalet-panel-dialog');
		d.html(this.iframeTemplate);
		m.show();
		d.show();
	}
	
	Panel.hide = function(){
		var m = $('#arbalet-panel-mask');
		var d = $('#arbalet-panel-dialog');
		m.hide();
		d.hide();
	}


var insertHtml = function(html) {
    var dummy = document.createElement('div');
    dummy.innerHTML = html;
    document.body.insertBefore(dummy.firstChild, document.body.firstChild);
    return document.body.firstChild;
  };
  */

 insertHtml = function(html) {
    var dummy = document.createElement('div');
    dummy.innerHTML = html;
    document.body.insertBefore(dummy.firstChild, document.body.firstChild);
    return document.body.firstChild;
  };

window.onload = function(){
	console.log('init');
	Arbalet.init();
	Arbalet.insertPanel();
	//Arbalet.showPanel();

	Arbalet.insertBoxes();
	Arbalet.showBoxes();
};

