<div class="tutorial">
	<h2>No tips?</h2>
	<p>
		Create your first tip using the form below.
	</p>
	<p>
		Tips will help your customers to use your product better!
	</p>
	<%=render :partial => 'tips/form'%>
</div>